<div class="container mt-3">
    <div class="d-flex justify-content betweem flex-wrap flex-md-nowarp align-items-cent pt-2
    pb-2 mb-3 border-bottom">
        <h1>Students List</h1> 
    </div>
    <div class="table-responsive">
        <table class="table teble-bordered">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">name</th>
                    <th scope="col">lastname</th>
                    <th scope="col">year</th>
                    <th scope="col">major</th>
                    <th class="txet-center" scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students; let i = index">
                    <th scope="col">{{student._id}}</th>
                    <th scope="col">{{student.first_name}}</th>
                    <th scope="col">{{student.last_name}}</th>
                    <th scope="col">{{student.year}}</th>
                    <th scope="col">{{student.major}}</th>
                    <th class="text-center">
                        <button class="btn btn-sm btn-warning" routerLink="/edit-student/{{student._id}}">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteStudent(student)">Delete</button>
                    </th>
                </tr>
            </tbody>
            
              

        </table>
    </div>

</div>
